<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
   
    <title>Editar Usuario</title>
</head>
<body>

    <main class="container">
        <div class="card mt-5">
            <div class="card-header">
                <h5 class="card-title">Editar Usuario</h5>
            </div>
            <div class="card-body">
                <form method="POST">
                    {% csrf_token %}
                    {% for form in forms %}
                    <div class="form-group">
                        <label for="">{{ form.label }}</label>
                        <input 
                        type="{{ form.field.widget.input_type }}"
                        name="{{ form.name }}"
                        id=""
                        placeholder="{{ form.label }}"
                        value="{{ form.value | default:'' }}"
                        class="form-control"
                        />
                    </div>
                    <div>
                        {{ form.errors }}
                    </div>
                    {% endfor %}
                    <div class="d-flex justify-content-between">
                        <input type="submit" value="Guardar" class="btn btn-primary">
                        <a href="{% url 'usuarios' %}" class="btn btn-secondary">Cancelar</a>
                    </div>
                </form>
            </div>
        </div>
    </main>

    <!-- Script de Bootstrap (si no está ya incluido en la plantilla base) -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
